@import 'basics.less';
.app {
  margin: auto auto;
  text-align: center;
  .header {
    font-family: verdana;
    margin-bottom: 20px;
  }
  .radar_container {
    float: left;
    .radar_header {
      margin-bottom: 10px;
      font-family: verdana;
      font-size: 16px;
      text-align: center;
    }
  }
}